import Config

config :doma_recaptcha,
  secret: "6Lyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy",
  public: "6Lxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

config :doma, :crypto,
  text__secret_key_base: "some very random text, yeah"
